[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTpLogger/Plugin
Comment=KTp Logger Plugin
Comment[cs]=Modul záznamů KTp
Comment[fi]=KTp-lokitusliitännäinen
Comment[nl]=KTp Logger-plug-in
Comment[pt]='Plugin' de Registo do KTp
Comment[sl]=Vstavek za beleženje KTp
Comment[sv]=KTp-loggningsinsticksprogram
Comment[uk]=Додаток ведення журналу KTp
Comment[x-test]=xxKTp Logger Pluginxx

# The ktp-text-ui plugin framework version for which the plugin is written
[PropertyDef::X-KTp-PluginInfo-Version]
Type=int
