[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTpLogger/Plugin
Comment=KTp Logger Plugin
Comment[bs]=KTp dnevnički dodatak
Comment[ca]=Connector de registre del KTp
Comment[cs]=Modul záznamů KTp
Comment[fr]=Module externe de journalisation de KTp
Comment[it]=Estensione di registro di KTp
Comment[kk]=KTp журналын жүргізу плагині
Comment[nl]=KTp Logger-plug-in
Comment[pt_BR]=Plugin de registro do KTp
Comment[sk]=Plugin KTp záznam
Comment[sv]=KTp-loggningsinsticksprogram
Comment[uk]=Додаток ведення журналу KTp
Comment[x-test]=xxKTp Logger Pluginxx

# The ktp-text-ui plugin framework version for which the plugin is written
[PropertyDef::X-KTp-PluginInfo-Version]
Type=int
