[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomuktelepathyservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage,nepomukqueryservice
Name=Nepomuk Telepathy Service
Name[hu]=Nepomuk Telepathy szolgáltatás
Name[nl]=Nepomuk telepathieservice
Name[pt]=Serviço do Telepathy para o Nepomuk
Name[sv]=Nepomuk Telepathy-tjänst
Name[x-test]=xxNepomuk Telepathy Servicexx
Comment=A Nepomuk service that imports Telepathy data
Comment[hu]=A Telepathy adatait importáló Nepomuk szolgáltatás
Comment[nl]=Een Nepomuk-service die telepathiegegevens importeert
Comment[pt]=Um serviço do Nepomuk que importa os dados do Telepathy
Comment[sv]=En Nepomuk-tjänst som importerar Telepathy-data
Comment[x-test]=xxA Nepomuk service that imports Telepathy dataxx
