[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomuktelepathyservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage,nepomukqueryservice
Name=Nepomuk Telepathy Service
Name[pt]=Serviço de Telepathy do Nepomuk
Name[pt_BR]=Serviço Telepathy do Nepomuk
Name[sv]=Nepomuk Telepathy-tjänst
Name[uk]=Служба Telepathy Nepomuk
Name[x-test]=xxNepomuk Telepathy Servicexx
Comment=A Nepomuk service that imports Telepathy data
Comment[pt]=Um serviço do Nepomuk que importa os dados do Telepathy
Comment[pt_BR]=Um serviço do Nepomuk que importa dados do Telepathy
Comment[sv]=En Nepomuk-tjänst som importerar Telepathy-data
Comment[uk]=Служба Nepomuk, призначена для імпортування даних Telepathy
Comment[x-test]=xxA Nepomuk service that imports Telepathy dataxx
