[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomuktelepathyservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
X-KDE-Nepomuk-dependencies=nepomukstorage
Name=Nepomuk Telepathy Service
Name[da]=Nepomuk Telepathy-tjeneste
Name[de]=Nepomuk-Dienst für Telepathy
Name[pt]=Serviço do Telepathy para o Nepomuk
Name[pt_BR]=Serviço do Nepomuk para o Telepathy
Name[sl]=Storitev Nepomuk Telepathy
Name[sv]=Nepomuk Telepathy-tjänst
Name[uk]=Служба Telepathy Nepomuk
Name[x-test]=xxNepomuk Telepathy Servicexx
Comment=A Nepomuk service that imports Telepathy data
Comment[da]=En Nepomuk-tjeneste der importerer data fra Telepathy
Comment[de]=Ein Nepomuk-Dienst, der Daten aus Telepathy importiert
Comment[pt]=Um serviço do Nepomuk que importa os dados do Telepathy
Comment[pt_BR]=Um serviço do Nepomuk que importa os dados do Telepathy
Comment[sl]=Storitev Nepomuk, ki se uvaža podatke iz Telepathy
Comment[sv]=En Nepomuk-tjänst som importerar Telepathy-data
Comment[uk]=Служба Nepomuk, призначена для імпортування даних Telepathy
Comment[x-test]=xxA Nepomuk service that imports Telepathy dataxx
